{% extends "base.html" %}
{% block title %}
Author
{% endblock %}

{% block heading %}
    {{ name }}
{% endblock %}

{% block content %}
<div>
    <img class = "author_image" src= "{{url_for('static', filename= pic)}}" height="300", width="300" >
</div>
<div>
    <h1>Biography</h1>
    <br>
    <h3>{{ bio }}</h3>
</div>

{% if 'user' in session %}
	{% if session['user_id'] == auth_id %}

		<div class = "signup_button">
		    <a href="{{url_for('create',auth_id = session['user_id'])}}">Create New Story</a>
		</div>

		<div class="signup_button">
			<a href="{{url_for('upload_blog',auth_id = session['user_id'])}}">Upload New Story</a>
		</div>

	{% endif %}
{% endif %}

<br>

<div>
	<h1> Blogs </h1>

	<br><br>

	<ol>
		{% for item in headings %}
		    <a href= "{{url_for('blog_display', blog_id = item[1])}}"><li>{{ item[0] }}</li></a>
		{% endfor %}
	</ol>
</div>
    
{% endblock %}

<br>


