{% extends "base.html" %}
{% block title %}
Author
{% endblock %}

{% block heading %}
    {{ session['user'] }}
{% endblock %}

{% block content %}
<div>
    <img class = "author_image" src= "{{url_for('static', filename= pic)}}" height="300", width="300" >
</div>
<div>
    <h1>Biography</h1>
    <br>
    <h3> {{ session['bio'] }} </h3>
</div>

<div class = "signup_button">
    <a href="{{url_for('create',auth_id = session['user_id'])}}">Create New Story</a>
</div>


<br><br>

<div>
	<h1> Blogs </h1>

	<br><br>

	<ol>
		{% for item in headings %}
		    <a href= "{{url_for('blog_display', blog_id = item[1])}}"><li>{{ item[0] }}</li></a>
		{% endfor %}
	</ol>
</div>
    
{% endblock %}
