{% extends "base.html" %}
{% block title %}
    {{ heading }}
{% endblock %}

{% block heading %}
	{{ heading }}
{% endblock %}

{% block content %}
<div>

	<table class = "table_about">
        <tr>
            <th class = "th_td_content">Published At</th>
            <th class = "th_td_content">Theme</th>
            <th class = "th_td_content">Author</th>
            <th class = "th_td_content">Flag</th>
            <th class = "th_td_content">Views</th>
            <th class = "th_td_content">Applauds</th>
            {% if 'Content Moderator' == session['login_as'] %}
            <th class = "th_td_content">Reports</th>
            {% endif %}
        </tr>
        <tr>
            <td class = "th_td_content">{{ time_published }}</td>
            <td class = "th_td_content">{{ theme }}</td>
            <td class = "th_td_content"><a href="{{url_for('author', auth_id = auth_id )}}">{{ author }}</a></td>
            <td class = "th_td_content">{{ flag }}</td>
            <td class = "th_td_content">{{ views }}</td>
            <td class = "th_td_content">{{ applauds }}</td>
            {% if 'Content Moderator' == session['login_as'] %}
            <th class = "th_td_content">{{ reports }}</th>
            {% endif %}

    </table>

</div>

<br>

{% if 'user' in session %}

<div class = "interact_button">
    <h4><a href="{{url_for('report',blog_id = blog_id )}}"><img style= "width: 32px; height: 32px; "
        src="{{url_for('static', filename= 'report.ico')}}"></a> Report</h4>
</div>

<div class = "interact_button">
    <h4><a href="{{url_for('applaud',blog_id = blog_id )}}"><img style= "width: 32px; height: 32px; "
        src="{{url_for('static', filename= 'clapping.ico')}}"></a> Applaud! </h4>
</div>

{% endif %}

<div class="blog_content">
      {{ content }}
</div>

<br>
{% if 'Content Moderator' == session['login_as'] %}
<div>
    <a href="{{url_for('delete_blog', blog_id = blog_id)}}"><button type="button" class="shadow_button">Delete Blog</button></a>
</div>
<br>
{% if form3 %}
<form action="{{url_for('blog_display', blog_id = blog_id, update = 0)}}"  enctype= "multipart/form-data" method="POST" style="padding:0px;">
<div>
    
    {{ form3.flag.label }}
    {{ form3.flag }}
    {{ form3.csrf_token }}
    {{ form3.submit }}
      
</div>
</form>
{% endif %}
{% endif %}



{% if '-' == youtube %}
    
    {% if 'user' in session %}
        
        {% if auth_id == session['user_id'] and 'Author' == session['login_as'] %}
        
            <form action="{{url_for('blog_display', blog_id = blog_id, update = 0)}}" enctype= "multipart/form-data" method="POST" style="padding:5px;">
                
                <div class = "comment_field">
                    
                    <!-- Title Field -->
                    {{ form2.link.label(class_="login_text") }} <br>
                    {{ form2.link(class_="login_field") }}         

                    <!-- Submit Comment -->
                    {{ form2.csrf_token }}
                    {{ form2.submit(class_="login_button") }} 
                </div>

            </form> 
        {% endif %}
    {% endif %}

{% else %}

    {% if 'user' in session %}

        {% if auth_id == session['user_id'] and 'Author' == session['login_as'] %}
            
            <div class = "youtube_container">
                
                <iframe width="854" height="480" src = "{{ youtube }}" allowFullScreen='allowFullScreen'></iframe>

                <a href="{{url_for('delete_youtube', blog_id = blog_id, update = 0)}}"><button type="button" class="shadow_button">Delete Video</button></a>

            </div>

        {% else %}
        

            <div class = "youtube_container">
                
                <iframe width="854" height="480" src = "{{ youtube }}" allowFullScreen='allowFullScreen'></iframe>

            </div>

        {% endif %}

    {% else %}

            <div class = "youtube_container">
                
                <iframe width="854" height="480" src = "{{ youtube }}" allowFullScreen='allowFullScreen'></iframe>

            </div>

    {% endif %} 

{% endif %}


<!-- Comments Container -->
<div>
    {% if 'user' in session and 'Author' == session['login_as'] %}
        <form action="{{url_for('blog_display', blog_id = blog_id, update = 0)}}" enctype= "multipart/form-data" method="POST" style="padding:5px;">
            
            <div class = "comment_field">
                
                <!-- Title Field -->
                {{ form.comment.label(class_="login_text") }} <br>
                {{ form.comment(class_="login_field") }}         

                <!-- Submit Comment -->
                {{ form.csrf_token }}
                {{ form.submit(class_="login_button") }} 
            </div>

        </form> 
    {% endif %}

    <br>

    <h1 style = "text-align: center;"> Comments </h1>

    <br>

   <table class = "table_about">
        <tr>
            <th class = "th_td_content">Author</th>
            <th class = "th_td_content">Published At</th>
            <th class = "th_td_content">Comment</th>
        </tr>
        {% for item in comments %}
        <tr>
            <td class = "th_td_content"><a href = "{{url_for('author', auth_id = item[3])}}">{{ item[1] }}</a></td>
            <td class = "th_td_content">{{ item[2] }}</td>
            <td class = "th_td_content">{{ item[0] }}</td>
        {% endfor %}
    </table>

</div>

{% endblock %}