{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block heading %}
Change Password
{% endblock %}

{% block content %}

{% if 'Password changed successfully!'==message %}
    <h2 style="color:rgb(0, 255, 0); text-align: center;">
        {{ message }}</h2>
{% else %}
        <h3 style="color:firebrick; text-align: center;">
            {{ message }}</h3>
{% endif %}

{% if form %}
<form action="{{url_for('change_password')}}" enctype="multipart/form-data" method="POST" style="padding:5px;">

    <div class="signup_container">
        <!-- Email Field -->
        {{ form.email.label(class_="login_text") }} <br>
        {{ form.email(class_="login_field") }}
        <br>
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <b style="color:tomato;"> {{ error }} </b>
                <br>
            {% endfor %}
        {% endif %}

        <!-- Password Field -->
        {{ form.password.label(class_="login_text") }} <br>
        {{ form.password(class_="login_field") }}
        <br>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <b style="color:tomato;"> {{ error }} </b>
                <br>
            {% endfor %}
        {% endif %}

        <!-- Confirm Password Field -->
        {{ form.confirm_password.label(class_="login_text") }} <br>
        {{ form.confirm_password(class_="login_field") }}
        <br>
        {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
                <b style="color:tomato;"> {{ error }} </b>
                <br>
            {% endfor %}
        {% endif %}

        {{ form.csrf_token }}
        {{ form.submit(class_="signup_button") }}
    </div>

</form>
{% endif %}
{% endblock %}