{% extends "base.html" %}
{% block title %}
Edit Name
{% endblock %}

{% block heading %}
{{ session['user'] }}
{% endblock %}

{% if message %}
<h2 style="color:rgb(255, 0, 0); text-align: center;">
    {{ message }}</h2>
{% endif %}

{% block content %}
{% if form %}
    <div class = "signup_container">
        <form action="{{url_for('edit_password',auth_id = session['user_id'])}}" enctype="multipart/form-data" method="POST"
            style="padding:5px;">
            <!-- Password Field -->
            {{ form.password.label(class_="login_text") }} <br>
            {{ form.password(class_="login_field") }}
            <br>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                <b style="color:tomato;"> {{ error }} </b>
                <br>
                {% endfor %}
            {% endif %}
            
            <!-- Confirm Password Field -->
            {{ form.confirm_password.label(class_="login_text") }} <br>
            {{ form.confirm_password(class_="login_field") }}
            <br>
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                <b style="color:tomato;"> {{ error }} </b>
                <br>
                {% endfor %}
            {% endif %}
            {{ form.csrf_token }}
            {{ form.submit(class_="shadow_button") }}
        </form>
    </div>
{% endif %}
{% endblock %}