{% extends "base.html" %}
{% block title %}
{{ name }}
{% endblock %}

{% block heading %}
    {{ name }}
{% endblock %}

{% block content %}
<div>
    <img class = "author_image" src= "{{url_for('static',filename= pic)}}" height="300", width="300" >
</div>
<div>
    <h1>Biography</h1>
    <br>
    <h3> {{ bio }} </h3>
</div>
<br>
<h3>Email:</h3>
<p>{{ email }}</p>

<br>
{% if auth_id != session['user_id'] and  %}
<div class = "signup_button">
    <a href="{{url_for('follow',follower = session['user_id'] , following = auth_id )}}">Follow</a>
</div>
{% endif %}



<br>

<div>
	<h1> Blogs </h1>

	<br><br>

	<ol>
		{% for item in headings %}
		    <a href= "{{url_for('blog_display', blog_id = item[1])}}"><li>{{ item[0] }}</li></a>
		{% endfor %}
	</ol>
</div>

{% endblock %}